[Unit]
Description=UFI001B USB RNDIS/ECM gadget and usb0 static address
After=network-pre.target
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/usb-gadget.sh

[Install]
WantedBy=multi-user.target